MAINNET_RPC=
MAINNET_DEPLOYER_NAME=

SEPOLIA_RPC=
SEPOLIA_DEPLOYER_NAME=

BASE_RPC=
ARBITRUM_RPC=
GNOSIS_RPC=
CELO_RPC=
OPTIMISM_RPC=
POLYGON_RPC=

# For auto-proposing upgrade to Safe (proposer must be a Safe owner)
SAFE_ADDRESS=
PROPOSER_PRIVATE_KEY=

ETHERSCAN_API_KEY=
